/* @import "tailwindcss";
@theme {
  --breakpoint-m: 900px;
} */

body{
  padding: 32px;
  min-height: 100vh;
  background-color: #1F1F1F;
  color: white;
  font-family: "Assistant" , sans-serif;
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 800px;
  margin: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-size: 18px;
  font-weight: 300;
  max-width: 384px;
}

b{
  font-weight: 600;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.project{
  max-width: 345px;
}


main {
  margin-top: -20px;
}

h2{
  background: black;
  display: inline;
  padding: 0px 8px;
  cursor: default;
}

h2:hover{
  text-decoration: underline;
}

h2:hover::before{
  content: "#";
}


header iframe{
  display: none;
}

@media only screen and (min-width: 900px) {
  body {
    max-width: 800px;
  }

  header{
    align-items: flex-end;
  }

  header img{
    display: none;
  }

  header iframe{
    display: block;
  }

}


/* assistant-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/assistant-v24-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* assistant-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/assistant-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* assistant-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/assistant-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* assistant-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/assistant-v24-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* assistant-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/assistant-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
